<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>DublinBike</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/css_reset.css' )}}">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<!-- Material Design fonts -->
  	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

  	<!-- Bootstrap -->
  	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  	<!-- Bootstrap Material Design -->
  	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css">
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/custom.css' )}}">
</head>
<body>

		<header>
			<h1>Dublin Bikes App</h1>
		</header>
    {% include 'weather.html' %}
		<div class="container">
			<section class="map row">
				<div class="map__box col-sm-6 col-md-6 col-xs-12">
					<div id="map__box__locations"></div>
				</div><!-- /.map -->
				<aside class="col-sm-6 col-md-6 col-xs-12">
					<p>Click on a map marker to see the averages for the station over 24 Hours</p>
					<div id="data_chart"></div><!-- /.data -->
				</aside>
			</section>
		</div><!-- /.container -->
	<footer>
		<h5>Developed by</h5>
		<p class="developers">
			<span><a href="https://github.com/charlawl" target="blank">Charlotte</a></span><span><a href="https://github.com/lookonthebrightside" target="blank">Nkosi</a></span><span><a href="https://github.com/hinfeyg2" target="blank">Gavin</a></span>
		</p><!-- /.developers -->
	</footer>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/requests.js') }}"></script>
	<script type=text/javascript src="{{url_for('static', filename='js/app.js') }}"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgq4yrfltcq5whIspSNsuNMqXIPp8qANs&libraries=visualization&callback=initMap"></script>

</body>
</html>
