<div class="wrap panel well panel-success">
	<div class="day panel-heading">
		<h6>Dublin</h6>
		<h6>{{ weather_data[0]['weekday'] }}</h6>
		<h6>{{ weather_data[0]['date'] }}</h6>
		<h6>{{ weather_data[0]['temp']['day'] }} <sup>o</sup>C</h6>
		<img src="{{url_for('static', filename=weather_data[0]['icon_filename']) }}" alt="" width=90>
		<img src="{{url_for('static', filename='icons/icon-umberella.png')}}" alt=""><h6>{{ weather_data[0]['humidity'] }}%</h6>
		<img src="{{url_for('static', filename='icons/icon-wind.png')}}" alt=""><h6>{{ weather_data[0]['speed'] }}km/h</h6>
		<img src="{{url_for('static', filename='icons/icon-compass.png')}}" alt=""><h6>{{ weather_data[0]['deg'] }}</h6>
	</div>
	<div class="forecast-table panel-body">
		{% for day in weather_data[1:-1] %}
		<div class="next__day">
			<div class="curr__day">{{ day['weekday'] }}</div>
			<img class="forecast-image" src="{{url_for('static', filename=day['icon_filename']) }}" alt="" width=48>
			<div class="degree">{{ day['temp']['max'] }} <sup>o</sup>C</div>
			<small>{{ day['temp']['min'] }}<sup>o</sup></small>
		</div>
		{% endfor %}
	</div>
</div><!-- /.wrap -->