/*General Styles*/
*{
	font-family: "Lato", sans-serif;
	font-size: 12px;
}
h1,h2,h3,h4,h5,h6{
	text-align: center;
	padding: 0.3rem;
	font-family: "Lato", sans-serif;
}

.info_box_title:hover{
	cursor: pointer;
}

#map__box__locations,
.data{
	padding: 0.4rem;
	height: 70vh;
	overflow:hidden;
}
.map__box{

}
.info_box{
	font-weight: 600;
}
/*Footer*/
footer{
	background-color: #36454F;
	color: whitesmoke;
  width: 100vw;
  display: inline-block;
  bottom : 0;
  height : 60px;
}
footer .developers{
	text-align: center;
}
footer .developers a{
	color: white;
	text-decoration: none;
}
footer .developers a:hover{
	color: grey;
}
footer span{
	padding:  0 2rem;
}

/* Weather Widget */
.forecast-table,
.day{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.next__day{
	display: flex;
	align-items: center;
	flex-direction: column;
	color:  white;
}
.panel-success>.panel-heading {
    color: white;
    background-color: #313131;
    border-color: #313131;
}
.panel-success {
    border-color: #313131;
}
.forecast-table img{
	max-width: 1.5rem;
	height: 1.5rem;
}
.wrap.panel.well.panel-success {
    background-color: #313131;
    border-radius: 0;
}
.well,.panel-body{
	padding: 0;
}
img {
    vertical-align: middle;
    width: 24px;
}
.panel.panel-success>.panel-heading {
    background-color: #313131;
}
#donut_single {
	height: 15vh;
    width: 100%;
}


/*dropdown - stations*/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}


#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    /*overflow: scroll;*/
    /*z-index: 500;*/

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 50;
    height: 50vh;
    overflow: scroll;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

