/*General Styles*/
*{
	font-family: "Lato", sans-serif;
	font-size: 12px;
}
h1,h2,h3,h4,h5,h6{
	text-align: center;
	padding: 0.3rem;
	font-family: "Lato", sans-serif;
}
h1{
	font-size: 1.8rem;
}
h2{
	font-size: 1.6rem;
}
h3{
	font-size: 1.5rem;
}
h4{
	font-size: 1.4rem;
}
h5{
	font-size: 1.2rem;
}
h6{
	font-size: 1.1rem;
}
p{
	font-size: 1rem;
}

/*MAP*/
.map{
  display: flex;
	flex-flow: row wrap;
	padding: 0.4rem;
}
.info_box_title:hover{
	cursor: pointer;
}
aside{
	width:  50%;
}
#map__box__locations,
.data{
	padding: 0.4rem;
	height: 70vh;
  /* width: 60vh; */
	min-width:  50%;
	overflow:hidden;
}
.map__box{

}
.info_box{
	font-weight: 600;
}
/*Footer*/
footer{
	background-color: #36454F;
	color: whitesmoke;
    width: 100vw;
	/*padding: 0.4rem;*/
    display: inline-block;
    bottom : 0;
    height : 60px;
    /*margin-bottom : -35px;*/
}
footer .developers{
	text-align: center;
}
footer .developers a{
	color: white;
	text-decoration: none;
}
footer .developers a:hover{
	color: grey;
}
footer span{
	padding:  0 2rem;
}

/* Weather Widget */
.forecast-table,
.day{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.next__day{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.panel-success>.panel-heading {
    color: white;
    background-color: #313131;
    border-color: #313131;
}
.panel-success {
    border-color: #313131;
}
.forecast-table img{
	max-width: 2rem;
}

